.top {
  height: 48px;
  background: #000000;
  color: #ffffff;
  width: 100%;
  padding: 0 24px 0 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.app {
  font-weight: 400;
  width: 100%;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 960px) {
    display: block;
  }
}

.left {
  width: 488px;
  padding: 24px 0 88px 0;
  flex-shrink: 0;
  border-right: 1px solid #ececec;

  @media (max-width: 960px) {
    border-right: 0px;
    width: 100%;
  }
}

.right {
  min-width: 10%;
  width: 100%;
  padding: 24px 0 24px 0;
}
